@import './normalize.css';

/* :root 获取根元素（html） */
:root{
    /* 定义变量 */
    --color-text: #666;
    --color-high-text: #ff5777;/*高亮时的颜色*/
    /* 通过tintColor设置父视图颜色就可以直接改变对应的子视图中线条和轮廓的颜色 */
    --color-tint: #ff8198; /*整体背景颜色*/
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
    -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
    background: var(--color-background);/*使用上面的变量*/
    color: var(--color-text);/*使用上面的变量*/
    /*em 字体大小（子字体大小=父字体*大小） rem 使用根元素（html）大小去计算  vw/vh 可视宽度和高度 */
    width: 100vw; /*浏览器可视宽度 100全屏 50一半*/
  }

  a {
    color: var(--color-text); /*使用上面的变量*/
    text-decoration: none;
  }
  
  
  .clear-fix::after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  .clear-fix {
    zoom: 1; /*IE6，7，8浏览器兼容*/
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
    
